@model EmployeeViewModel


<div class="form-group">
    <label asp-for="Name"></label>
    <input asp-for="Name" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Address"></label>
    <input asp-for="Address" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Salary"></label>
    <input asp-for="Salary" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Department"></label>
    <select class="form-control" asp-items="ViewBag.Departments" asp-for="DepartmentId">
        <option value="@null" class="text-center">---Select Department---</option>
    </select>
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Phone"></label>
    <input asp-for="Phone" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="IsActive"></label>
    <input asp-for="IsActive" />
</div>