@model EmployeeViewModel

<label asp-for="Id"></label>
<input readonly asp-for="Id" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Name"></label>
    <input readonly asp-for="Name" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Age"></label>
    <input readonly asp-for="Age" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Address"></label>
    <input readonly asp-for="Address" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Salary"></label>
    <input readonly asp-for="Salary" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Email"></label>
    <input readonly asp-for="Email" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="Phone"></label>
    <input readonly asp-for="Phone" class="form-control" />
</div>
<div class="form-group">
    <label asp-for="IsActive"></label>
    <input readonly type="checkbox" asp-for="IsActive" class="form-control" />
</div>