@{
    ViewData["Title"] = "Edit";
}

@model EmployeeViewModel

<h1>Edit @Model.Name Employee</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>

<form asp-action="Edit">
    <partial name="PartialViews/CreateEdit" />
    <button type="submit" class="btn btn-primary">Update</button>
</form>