@model RoleViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Index" class="btn btn-secondary">Back</a>

<div class="form-group">
    <partial name="PartialViews/DeleteDetails" model="Model" />
</div>

<form asp-action="ConfirmDelete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</form>
